version: "3.8"

services:
  api:
    build: ./backend
    depends_on:
      - db
    ports:
      - 3001:3001
    environment:
      - DB_URL=mongodb://db/vidly
    command: ./docker-entrypoint.sh
  ui:
    build: ./frontend
    depends_on:
      - api
    ports:
      - 3000:3000
  db:
    image: mongo:4.0-xenial
    ports:
      - 27017:27017
    volumes:
      - vidly:/data/db   

volumes:
  vidly: 
