/* this is the main css we created */
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font: 12pt "Tahoma";
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.book {
  color: black;
  text-align: left;
  max-width: min-content;
}

.page {
  width: 21cm;
  height: 29.7cm;
  margin: 1cm auto;
  margin-bottom: -1px;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
}

.container-inter {
  width: 30vw;
}

#printIcon {
  width: 40px;
  margin-left: 2rem;
}

.printButton {
  height: 20px;
  width: 20px;
}

.subpage1 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg1.jpg");
  display: flex;
  align-items: flex-start;
}

.subpage2 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg2.jpeg");
  display: flex;
  align-items: flex-start;
}

.subpage3 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg3.png");
  display: flex;
  align-items: flex-start;
}

.subpage4 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg4.png");
  display: flex;
  align-items: flex-start;
}

.subpage5 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg5.webp");
  display: flex;
  align-items: flex-start;
}

.subpage6 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg6.png");
  display: flex;
  align-items: flex-start;
}

.subpage7 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg7.png");
  display: flex;
  align-items: flex-start;
}

.subpage8 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg8.jpeg");
  display: flex;
  align-items: flex-start;
}

.subpage9 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg9.jpeg");
  display: flex;
  align-items: flex-start;
}

.subpage10 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg12.jpeg");
  display: flex;
  align-items: flex-start;
}

.subpage11 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg11.png");
  display: flex;
  align-items: flex-start;
}

.subpage12 {
  width: 21cm;
  height: 6cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aqua;
  margin-top: -01%;
  margin-left: -0.1%;
  background-image: url("/src/images/bg10.jpeg");
  display: flex;
  align-items: flex-start;
}

#avatar {
  width: 150px;
  height: auto;
  position: sticky;
}

#nameHeader {
  color: beige;
  float: right;
  left: 15vw;
  bottom: 23vh;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.5rem;
  align-self: center;
}

.headingControl {
  align-self: center;
}

#profHeader {
  color: beige;
  left: 15.3vw;
  bottom: 24vh;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.about {
  width: 21cm;
  height: 150px;
  margin-top: -5%;
  border-bottom: solid 0.5px #aeafb0;
}

.details {
  width: 20cm;
  height: 120px;
  margin-top: 7%;
  margin-left: 2%;
  display: flex;
}

.about2 {
  width: 10cm;
  height: 120px;
  flex-wrap: wrap;
}

.aboutHeader {
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}

.par {
  margin-left: 5%;
  margin-top: 0;
  margin-right: 1%;
}

.par2 {
  margin-left: 4.6%;
  margin-top: 1%;
  margin-right: 1%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.text-muted {
  color: #6c757d !important;
}

.text-small {
  font-size: 0.875rem;
  margin-left: -5%;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
  margin-left: -5%;
}

.h5 {
  font-size: 1.25rem;
  margin-top: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}

.h6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}

.mb-2 {
  margin-bottom: 1rem !important;
  width: 50%;
  max-height: max-content;
}

.col-sm-4 {
  flex: 0 0 auto;
  width: 33.33333%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
  float: right;
  margin-bottom: 2%;
}

.col-sm-8 {
  flex: 0 0 auto;
  width: 66.66667%;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
  margin-left: 12%;
  margin-top: 1%;
}

.text-secondary {
  color: #656d78 !important;
}

.personalSkills {
  height: 480px;
  width: 21cm;
  margin-top: 30px;
  border-bottom: solid 0.5px #aeafb0;
}

.personalSkills-content {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 1.3%;
}

.aboutHeader2 {
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1.4rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}

.aboutHeader3 {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}

.aboutHeader4 {
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}

.my-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.skillH {
  margin-left: 2.2vw;
}

.progress {
  display: flex;
  height: 1rem;
  width: 85%;
  margin-left: 2.2vw;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.bg-primary {
  background-color: #4a89dc !important;
}

.bg-success {
  background-color: #37bc9b !important;
}

.experience {
  min-height: min-content;
  width: 21cm;
  margin-top: 30px;
  margin-bottom: 1.5rem;
}

.education {
  height: 14.8cm;
  width: 21cm;
  margin-top: 0px;
}

.work1 {
  width: 10cm;
  min-height: fit-content;
}

.timeLine {
  width: 19cm;
  min-height: fit-content;
  margin-top: 0.5%;
  margin-left: 10%;
  display: flex;
  border-left: 2px solid #e6e9ed;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;
}

#outCard {
  width: 18cm;
  height: 220px;
  margin-left: 5%;
  border-left: 2px solid #4a89dc;
}

#outCard2 {
  width: 18cm;
  height: 220px;
  margin-left: 5%;
  border-left: 2px solid #37bc9b;
}

.timeline-card-primary {
  border-left-color: #4a89dc;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #434a54;
  background-color: #f5f7fa;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.card-body {
  flex: 1 1 auto;
  padding: 2rem 2rem;
  width: 17cm;
  margin-left: 5%;
}

.workPar {
  margin-left: -5%;
}

.contact {
  height: 40px;
  margin-top: 40px;
}

/* @page {
    size: A4;
    margin: 0;
} */

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.bgOption {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 21cm;
  height: 29.7cm;

  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.singleOption1 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption1.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption2 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption2.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption3 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption3.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption4 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption4.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption5 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption5.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption6 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption6.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption7 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption7.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption8 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption8.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption9 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption9.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption10 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption10.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption11 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption11.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption12 {
  width: 6.5cm;
  height: 4.5cm;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: url("/src/images/backgroundOptions/bgOption12.png");
  background-size: cover;
  transition: all 0.5s;
}

.singleOption1:hover {
  scale: 1.1;
}

.singleOption2:hover {
  scale: 1.1;
}

.singleOption3:hover {
  scale: 1.1;
}

.singleOption4:hover {
  scale: 1.1;
}

.singleOption5:hover {
  scale: 1.1;
}

.singleOption6:hover {
  scale: 1.1;
}

.singleOption7:hover {
  scale: 1.1;
}

.singleOption8:hover {
  scale: 1.1;
}

.singleOption9:hover {
  scale: 1.1;
}

.singleOption10:hover {
  scale: 1.1;
}

.singleOption11:hover {
  scale: 1.1;
}

.singleOption12:hover {
  scale: 1.1;
}
